/*This is an external css file is for the general topic, 
element selector, attribute selector*/

h1 {
    color: hsla(268, 100%, 38%, 0.263);
    text-decoration: rgb(142, 186, 30);
    text-align: inherit;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lobster', cursive;

    position: fixed;
    left: 1000px;
}

h2 {
    color: hsla(80, 45%, 50%);
    display: inline;
}

h3 {
    color: rgb(46, 92, 171);
    position: relative;
}

p {
    font-size: 1cm;
    font-family: 'Libre Baskerville', serif;
    color: rgba(239, 127, 9, 0.832);
    
    /*<top> <right> <bottom> <left>*/
    padding: 0, 30px, 40px, 4em;
    /*<top> <right> <bottom> <left>*/
    margin: 25px 50px 75px 100px;
    border: 2px solid powderblue;
    border-style: dotted;
    border-color: white;
    border-width: 1em;
    border-radius: 15px;
    
    position: static;
    flex-flow: 1;
}

a {
    display: inline-block;
    background-color: powderblue;
    transition: background-color .5s;
}
a:hover{
    background-color:lavender;
}

form button{
    background:lemonchiffon;
}
form:active {
    color:#ffa07a;
}

h2{
    display: flex;
    display: grid;
    flex-flow:column-reverse;
    flex-basis: auto;
    grid-template-columns: auto;
    grid-column: auto;
}
h3{
    display: flex;
    display: grid;
    flex-wrap: nowrap;
    flex-grow: 5;
    grid-template-rows: auto;
    grid-row: auto;
}
h4{
    display:flex;
    display: grid;
    flex-direction: row;
    flex-shrink: 2;
    grid-template-areas: initial;
    grid-area: auto;
}

.outer{
    width: 38px;
    height: 30ex;
    background-color: rgb(142, 186, 30);
    position: inherit;
}


